.work {
  max-width: 15rem;
  min-height: 3.2rem;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  background: var(--yellow);
  
  border-radius: 0 20px 0 0;
  border: none;

  padding: 0 1.2rem;

  span {
    color: var(--black);
    margin-right: 8px;
  }
}